html,body{font-family:sans-serif;font-size:24px;color:#DDE5EA;overflow:hidden;cursor:none;}
.Loader {
position:absolute;top:25px;left:39px;
width:180px;  
height:8px;
bottom:80px;
border:1px solid #1849A5;
box-shadow:0 0 0 2px #BBCEEF;
}
.LDR1 {
position:absolute;
width:0px;
height:100%;
background-color:white;
}
.LDR2 {transition:width 500ms ease-in-out;
position:absolute;
width:90px;
height:100%;
background-color:white;
}
.LoaderAni {
position:absolute;
width:300px;
height:100%;
top:0;background:white;
animation:slide1 1000ms;
animation-iteration-count: 1;
animation-direction:normal;
animation-timing-function:ease-out;
animation-fill-mode: forwards;
}
.DoneAni {
position:absolute;
width:300px;
height:100%;
top:0;background:white;
animation:slide2 1000ms;
animation-iteration-count: 1;
animation-direction:normal;
animation-timing-function:ease-in-out;
animation-fill-mode: forwards;
}
@keyframes slide1 {
from {width:0px;}
to {width:90px;}
}
@keyframes slide2 {
from {width:0px;}
to {width:180px;}
}
.txt {
position:absolute;
width:265px;
height:100%;
text-align:center;
font-weight:lighter;
line-height:24px;
letter-spacing:2px;
padding:0 8 0 0;
margin:-5 0 0 0;
}